In [1]:
import pandas as pd

In [5]:
income = pd.read_csv('/Users/shiyuan/Documents/Machine learning/project-park crime/data/4 nyc_ct_merged_race_income_15.csv')

In [7]:
income.head()

,Unnamed: 0,GEO.id,GEO.id2,Household_total,Household_Food_Stamp_Received,year,"Income_Less_than_$10,000","Income_$10,000_14,999","Income_$15,000_24,999","Income_$25,000_34,999",...,"Income_$100,000_149,999","Income_$150,000_199,999","Income_$200,000_or_more",Median_income,White_alone_percent,Black_or_African_American_alone_percent,American_Indian_and_Alaska_Native_alone_percent,Asian_alone_percent,Native_Hawaiian_and_Other_Pacific_Islander_alone_percent,Some_other_race_alone_percent
0,0,1400000US36001000100,36001000100,815,329,2015,16.7,14.4,18.8,7.6,...,6.7,0.9,0.4,25179.0,0.251374,0.614193,0.000000,0.023988,0.0,0.002999
1,1,1400000US36001000200,36001000200,2006,932,2015,14.7,21.7,12.4,10.6,...,4.5,2.9,2.3,26337.0,0.123257,0.829830,0.000000,0.002877,0.0,0.008630
2,2,1400000US36001000300,36001000300,2311,587,2015,14.5,6.7,23.4,5.6,...,5.8,1.3,0.9,32244.0,0.484554,0.374714,0.002670,0.025744,0.0,0.028413
3,3,1400000US36001000401,36001000401,1037,8,2015,0.5,3.1,6.6,8.7,...,18.7,7.7,3.3,72168.0,0.912092,0.041684,0.018985,0.027239,0.0,0.000000
4,4,1400000US36001000403,36001000403,2300,133,2015,7.2,13.0,9.8,6.3,...,14.7,4.9,3.9,52857.0,0.697679,0.159218,0.007950,0.075204,0.0,0.034379

In [9]:
income.columns

Index([u'Unnamed: 0', u'GEO.id', u'GEO.id2', u'Household_total',
       u'Household_Food_Stamp_Received', u'year', u'Income_Less_than_$10,000',
       u'Income_$10,000_14,999', u'Income_$15,000_24,999',
       u'Income_$25,000_34,999', u'Income_$35,000_49,999',
       u'Income_$50,000_74,999', u'Income_$75,000_99,999',
       u'Income_$100,000_149,999', u'Income_$150,000_199,999',
       u'Income_$200,000_or_more', u'Median_income', u'White_alone_percent',
       u'Black_or_African_American_alone_percent',
       u'American_Indian_and_Alaska_Native_alone_percent',
       u'Asian_alone_percent',
       u'Native_Hawaiian_and_Other_Pacific_Islander_alone_percent',
       u'Some_other_race_alone_percent'],
      dtype='object')

In [11]:
income=income[['GEO.id','Household_total','Median_income']]

In [20]:
income = income.rename(columns={'GEO.id':'Id'})

In [21]:
income.head()

                     Id  Household_total  Median_income
0  1400000US36001000100              815        25179.0
1  1400000US36001000200             2006        26337.0
2  1400000US36001000300             2311        32244.0
3  1400000US36001000401             1037        72168.0
4  1400000US36001000403             2300        52857.0

In [38]:
park= pd.read_csv('/Users/shiyuan/Documents/Machine learning/project-park crime/data/10 park_census_tract.csv')

In [39]:
del park['Unnamed: 0']

In [40]:
park.head(2)

,park_name,census_tract
0,Community Garden Association,"1400000US36081038302,1400000US36081038301,1400..."
1,Each One Teach One,"1400000US36081038302,1400000US36081038301,1400..."

In [61]:
park.ix[i,'census_tract'].split(',')[:-1]

['1400000US36081038302',
 '1400000US36081038301',
 '1400000US36081079300',
 '1400000US36081041500']

In [62]:
park['ct']=map(lambda x: x.split(',')[:-1], park['census_tract'])

In [63]:
park['household']=0

In [64]:
park.head(2)

,park_name,census_tract,ct,household
0,Community Garden Association,"1400000US36081038302,1400000US36081038301,1400...","[1400000US36081038302, 1400000US36081038301, 1...",0
1,Each One Teach One,"1400000US36081038302,1400000US36081038301,1400...","[1400000US36081038302, 1400000US36081038301, 1...",0

In [57]:
for i in range(len(park)):
    for j in park.ix[i,'ct']:
                    park.ix[i,'household'] += income[income['Id']==j]['Household_total']

ValueError: Incompatible indexer with Series

In [27]:
park['census_tract'][0]

"[u'1400000US36061003400']"

In [23]:
park

,park_name,census_tract,household
0,Community Garden Association,[u'1400000US36061003400'],0
1,Each One Teach One,[u'1400000US36061024200'],0
2,Highland Park Childrens Garden,[u'1400000US36047118000'],0
3,Collyer Brothers Park,[u'1400000US36061020800'],0
4,Estella Diggs Park,[u'1400000US36005018500'],0
5,American Veterans Memorial Pier,[u'1400000US36047003400'],0
6,Harding Park Beautification Project,[u'1400000US36005000200'],0
7,Frontera Park,[u'1400000US36081051700'],0
8,Skate Park,[u'1400000US36061019500'],0
9,Yellowstone Park,[u'1400000US36081074100'],0
10,Jackie Robinson Playground,[u'1400000US36047032500'],0
11,Sunset Cove Park,"[u'1400000US36081107201', u'1400000US360811072...",0
12,P.S. 173,[u'1400000US36061026300'],0
13,P.S. 172,[u'1400000US36047010100'],0
14,Fort Hill Park,[u'1400000US36085000900'],0
15,P.S. 176,[u'1400000US36047019600'],0
16,Vernon/throop Av Block Association,[u'1400000US36047028300'],0
17,Samuel Triangle,[u'1400000US36061021800'],0
18,Haffen Park,[u'1400000US36005035800'],0
19,Bethesda Terrace,[u'1400000US36061014300'],0
20,Hope Garden,[u'1400000US36061003002'],0
21,Green Gems,[u'1400000US36047119600'],0
22,Beanstalk Playground,[u'1400000US36005024501'],0
23,Grand Central Parkway Extension,"[u'1400000US36081038302', u'1400000US360810317...",0
24,Horseshoe Playground,[u'1400000US36005013100'],0
25,Forest Grove,[u'1400000US36085032300'],0
26,Manley's Pl,[u'1400000US36047119200'],0
27,Myrtle Avenue Clemens Triangle,[u'1400000US36081055100'],0
28,Louis Pl Friends,[u'1400000US36047030100'],0
29,P.S. 3,"[u'1400000US36085019800', u'1400000US360050375...",0
...,...,...,...
1998,Classon Triangle,[u'1400000US36047053700'],0
1999,Triborough Bridge Playground A,[u'1400000US36081009900'],0
2000,Triborough Bridge Playground C,[u'1400000US36081009500'],0
2001,West 186th Street Basketball Court,[u'1400000US36061026900'],0
2002,Lentol Garden,[u'1400000US36047049900'],0
2003,Triborough Bridge Playground D,[u'1400000US36081009500'],0
2004,Curtis Playground,[u'1400000US36047095400'],0
2005,Cutinella Triangle,[u'1400000US36047038600'],0
2006,Jamaica Gateway Park,[u'1400000US36081020800'],0
2007,Hutchinson River Parkway,"[u'1400000US36005019400', u'1400000US360050284...",0
2008,GREENST,[u'1400000US36081038302'],0
2009,Merchant's House Museum,[u'1400000US36061005700'],0
2010,Rappaport Playground,[u'1400000US36047011600'],0
2011,MARINE PARK,[u'1400000US36047066600'],0
2012,Garden Of Happiness,[u'1400000US36005037100'],0
2013,Mapes,[u'1400000US36005037100'],0
2014,Townsend Garden,[u'1400000US36005022701'],0
2015,Ruoff Triangle,[u'1400000US36081004200'],0
2016,Zimmerman Playground,[u'1400000US36005033600'],0
2017,College Point Park,"[u'1400000US36081090700', u'1400000US360810929...",0
2018,St. Andrew's Playground,[u'1400000US36047027100'],0
2019,Beatty Plaza,[u'1400000US36005014900'],0
2020,Barone Triangle,[u'1400000US36047070000'],0
2021,Father Demo Square,[u'1400000US36061006700'],0
2022,P.S. 226,[u'1400000US36047044600'],0
2023,P.S. 221,[u'1400000US36047035500'],0
2024,Sobel Playground,[u'1400000US36047053500'],0
2025,Poppenhusen Park,[u'1400000US36081094700'],0
2026,Legion Triangle,[u'1400000US36081000600'],0
2027,Mahoney Playground,[u'1400000US36085000700'],0